In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as stats
%matplotlib inline

In [2]:
df = pd.read_csv('../data/salary.csv')
df = df[['salary', 'yearsworked']]

In [3]:
df.head()

    salary  yearsworked
0  53000.0            0
1  58000.0            0
2  45500.0            0
3  35782.0            2
4  34731.0            2

In [4]:
df.describe(include='all')

             salary  yearsworked
count    513.000000   514.000000
mean   50863.220098    12.852140
std    12685.132358     9.444695
min    29000.000000     0.000000
25%    40000.000000     4.000000
50%    50096.000000    12.000000
75%    60345.000000    22.000000
max    96156.000000    41.000000

In [5]:
df.isnull().sum().sum()

1

In [6]:
df = df.dropna()

In [7]:
df.isnull().sum()

salary         0
yearsworked    0
dtype: int64

In [8]:
import sys

sys.path.append('../src')

import testing_model
import training_model

In [9]:
training_model.train(df)

0.5793915122325451

In [10]:
# df['Predicted Salary'] = testing_model.test(df)
# df.head()
predictions= testing_model.test(df)
predictions.head()

Coefficient: [830.43864444]
Intercept: 40411.888801584886

Exception: Data must be 1-dimensional

In [ ]:
testing_model.scatterplot(df, 'yearsworked')

In [ ]:
testing_model.histplot(df, 'yearsworked')

In [ ]:
stats.pearsonr(df.yearsworked, df.salary)